* {
  --defaultColor: #28a745;
}

.btn-color-defaul {
  background-color: #28a745;
}

div#messageError,
div#messageErrorBudget {
  border: 1px solid #f55;
  border-radius: 2px;
  background-color: #fcc;
  padding: 20px 10px;
  margin: 10px 0px;
  display: none;
}

div#messageSuccess,
div#messageSuccessBudget {
  border: 1px solid #5f5;
  border-radius: 2px;
  background-color: #cfc;
  padding: 20px 10px;
  margin: 10px 0px;
  display: none;
}

.loader {
  border: 10px solid #5f5; /* Light grey */
  border-top: 10px solid #28a745; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
